{% extends "auctions/layout.html" %}

{% block body %}
	<div class="view__main view__new">
	    <h2>Create new listing</h2>
	    <form action="{% url 'create_new' %}" method="post">
	    	{% csrf_token %}
	    	<div class="form-group">
	    		<p>Title:</p>
	    		<input type="text" name="title" placeholder="eg. Macbook perfect condition" required/>
	    	</div>
	    	<div class="form-group">
		    	<p>Category:</p>
		    	<select name="category" placeholder="Choose...">
		    		<option value="none">None</option>
		    		{% for category in categories %}
		    		<option value="{{ category.id }}">{{ category.value }}</option>
		    		{% endfor %}
		    	</select>
		    </div>
		    <div class="form-group">
		    	<p>Starting Bid (ZAR):</p>
		    	<input type="number" min="0.01" step="any" name="starting_bid" placeholder="eg. 50.00">
		    </div>
		    <div class="form-group">
		    	<p>Description:</p>
		    	<textarea name="description" placeholder="Tell us more about your item..."></textarea>
		    </div>
		    <div class="form-group">
		    	<p>Image url:</p>
		    	<input id="imgUrl" type="text" name="image_url" placeholder="Add an image link related to your item...">
		    </div>
		     <div class="form-group">
	    		<input  type="submit" value="Save and List" class="btn btn-primary">
	    	</div>
	    </form>
	</div>
{% endblock %}