{% extends "auctions/layout.html" %}

{% block body %}
    <section class="view view__listings">
        <nav class="categoryLinks debug">
            <ul class="nav sideNav">
                <li><h4>Results: {% if active_listings.category %}{{ active_listings.category }} {% else %} all {% endif %}</h4></li>
                {% for category in categories %}
                <li><a href="{% url 'index' %}?category_id={{ category.id }}" >{{ category.value }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="listings">
            {% for listing in active_listings %}
            <form action="{% url 'listing' listing.id %}">
                <div class="listings__card" onclick="javascript:this.parentNode.submit();">
                    {% if listing.image_url %}
                    <p class="img"><img src="{{ listing.image_url }}"/></p>
                    {% else %}
                    <p class="img__placeholder"></p>
                    {% endif %}
                    <br>
                    <h6>{{ listing.title|truncatewords:"8" }}</h5>
                    {% if listing.bids.count > 0 %}
                    <p class="pricetag">R {{ listing.bids.all.0.value }}</p>
                    {% else %}
                    <p class="pricetag">R {{ listing.starting_bid }}</p>
                    {% endif %}
            		<p class="p--tiny description">{{ listing.description|truncatewords:"12" }}</p>
                </div>
            </form>
            {% endfor %}
        <div>
    </section>
    
{% endblock %}