{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <section class="view view__listings debug-2">
        <nav class="categoryLinks debug">
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'index' %}?category_id={{ category.id }}" >{{ category.value }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class=" listings__containter">
            {% for listing in active_listings %}
            <form action="{% url 'listing' listing.id %}">
                <div class="listings__card" onclick="javascript:this.parentNode.submit();">
                    {% if listing.image_url %}
                    <p class="img"><img src="{{ listing.image_url }}"/></p>
                    {% else %}
                    <p class="img__placeholder"></p>
                    {% endif %}
                    <h5>{{ listing.title }}</h5>
            		<p class="p--tiny description">{{ listing.description }}</p>
                </div>
            </form>
            {% endfor %}
        <div>
    </section>
    
{% endblock %}