{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="categoryLinks">
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'filter' category.id %}" >{{ category.value }}</a></li>
            {% endfor %}
        </ul>
    </div>


    {% for listing in active_listings %}
    <form action="{% url 'listing' listing.id %}">
        <div class="listingCard" onclick="javascript:this.parentNode.submit();">
        	<img />
        	<div>
        		<h4>{{ listing.title }}</h4>
        		<p>{{ listing.description }}</p>
        	</div>
        </div>
    </form>
    {% endfor %}
{% endblock %}