{% extends "auctions/layout.html" %}

{% block body %}
        <div class="view__main listing">
            <section class="listing__head">
                <img src="{{ listing.image_url }}" class="listing__head--img"/>
                <div class="listing__head--details">
                    <!-- <h2>{{ listing.title }}<br><span class="status__success">{{ status.msg }}</span></h2> -->
                     <h2>{{ listing.title }}
                        {% if status.code == '200' %}
                            <br><span class="status status__success">{{ status.msg }}</span>
                        {% elif status.code != '' %}
                            <br><span class="status status__error">{{ status.msg }}</span>
                    {% endif %}
                    </h2>
                    <p>{{ listing.category.value }}</p>
                        {% if listing.bid %}
                           <p>Current bid: R {{ listing.bid }}</p>
                        {% else %}
                            <p>Starting bid: R {{ listing.starting_bid }}</p>
                        {% endif %}
                        {% if user.is_authenticated and user.id != listing.owner.id %}
                            {% if listing.watchlist %}
                            <form action="{% url 'watchlist' %}" method="POST">
                                {% csrf_token %}
                                <input name="listing_id" value="{{ listing.id }}" hidden>
                                <input name="toggle" value="remove" hidden>
                                <input type="submit" value="Remove from watchlist"> 
                            </form>
                            {% else %}
                            <form action="{% url 'watchlist' %}" method="POST">
                                {% csrf_token %}
                                <input name="listing_id" value="{{ listing.id }}" hidden>
                                <input name="toggle" value="add" hidden>
                                <input type="submit" value="Add to watchlist"> 
                            </form>
                            {% endif %}
                        {% endif %}
                        {% if user.id != listing.owner.id %}
                            <form action="{% url 'place_bid' listing.id %}" method="post">
                                {% csrf_token %}
                                <input name="bid" type="number"  placeholder="eg {{ listing.bid | add:'50' }}" />
                                <input type="submit" value="Make bid!">
                            </form>
                        {% elif listing.num_bids > 0 and listing.active %}
                            <form action="{% url 'accept_bid' listing.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="bid_id" value="{{ listing.max_bid.id }}" hidden>
                                <input type="submit" value="Accept bid">
                            </form>
                        {% endif %}
                    <div>{{ listing.description }}</div>
                </div>
            </section>
            <section class="comments">
                <div class="comments__new">
                    {% if user.is_authenticated %}
                        <form action="{% url 'comment' listing.id %}" method="POST">
                            {% csrf_token %}
                            <textarea name="comment" placeholder="Leave a comment..."></textarea>
                            <input type="submit" value="save" >
                        </form>
                    {% endif %}
                </div>
                <div class="comments__old">
                    {% for comment in listing.comments %}
                        <div class="comment">
                            <p class="comment__info"><span>{{ comment.user }}</span><span>{{ comment.created_at}}<span></p>
                            <p>{{ comment.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
         </div>
{% endblock %}