{% extends "auctions/layout.html" %}

{% block body %}
    <section class="view view__main">
        <h2>Your watchlist items</h2>
        <div class="listings">
            {% for listing in watchlist_listings %}
            <form action="{% url 'listing' listing.id %}">
                <div class="listings__card" onclick="javascript:this.parentNode.submit();">
                	{% if listing.image_url %}
                    <p class="img"><img src="{{ listing.image_url }}"/></p>
                    {% else %}
                    <p class="img__placeholder"></p>
                    {% endif %}
                	<h6>{{ listing.title }}</h6>
                    {% if listing.bid %}
                    <p class="pricetag">R {{ listing.bid }}</p>
                    {% else %}
                    <p class="pricetag">R {{ listing.starting_bid }}</p>
                    {% endif %}
                    <p class="p--tiny description">{{ listing.description }}</p>
                </div>
            </form>
            {% endfor %}
        </div>
    </section>
{% endblock %}
